<div class='coaching-card'>
  <%= @question %>
  <p><i>- You</i></p>
</div>
<div class="coaching-card answer">
  <p><b><%= @answer %></b></p>
  <p>- Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path%>
