// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card {
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}

.answer {
  background: #FFFFE1;
}
